
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            /* width: 100vw; */
            /* height: 100vh; */
            background-image:linear-gradient(to bottom, rgb(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.4)), url("../user/backglass.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .foot{
            position: absolute;
            bottom: 10px;
            left: 0;
            height: 50px;
            color: white!important;
            background-color: transparent;
        }
        .loadingDiv{
            background-color: white;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
        }
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 6px solid blue;
            border-right: 6px solid green;
            border-bottom: 6px solid red;
            border-left: 6px solid pink;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            position: absolute;
            left: 50vw;
            top: 50vh;
            z-index: 1;
            animation: spin 2s linear infinite;
        }  
        .loadingDiv p{
            z-index:100;
            position: absolute;
            left: 49.5vw;
            top: 60vh;
            font-weight: bold;
            font-size: 20px;
        }     

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }   
        .nav-link{
            color: white!important;
            letter-spacing: 1px;
            font-size: 15px;
        }
        .nav-link:hover,.navbar-brand:hover{
            color: rgb(255, 251, 0) !important;
            transition: .1s ease-in-out;
        }
        .navbar-nav .act{
            color: rgb(2, 248, 146)!important;
            font-weight: 700;
            border-bottom: 1px solid rgb(2, 248, 146);
        }
        .nav-item{
            margin-right: 20px;
        }
        .social span {
            color: white!important;
            font-size: 21px !important;
        }
        .social span:hover,.foot small:hover{
            color: rgb(2, 248, 236)!important;
        }
        .user{
            margin-left: 10px;
            margin-top: 20px;
        }
        .btn{
            background-color:rgba(0, 0, 0, 0.8);
            color: cyan;
            border: 2px solid black;
            border-radius: 10px;
            border: 1px solid cyan;
        }
        .btn:hover{
            background-color:cyan;
            color:black;
        }
        /* //media */
        @media only screen and (max-width:550px) {
        .navbar-brand{
            font-size: 15px!important;
        }
        .nav-item,.nav-item a{
            margin-right: 4px!important;
            font-size: 13px!important;
        }
        }
   